- model_class = OohSite
- content_for :head do
  = "#{t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: model_class.model_name.human.titleize} : #{ @ooh_site.name}"
.page-header
= render partial: 'form'
